
<% if @blog.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <p><%= @blog.errors.count %> error(s)</p>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <h2>New post</h2>
  <%= form_with(model: @blog, url: choose_new_or_edit,local: true) do |form| %>
     <%= form.text_field :content %>
      <%= form.submit "new post"%>
  <% end %>
</div>
