<div class="alert alert-success" role="alert">
  <%= notice %>
</div>


<table class="table table-striped">

  <% @blog.each do |blog| %>
<tr>
    <td><%= blog.content %></td>
    <td><span class="badge badge-pill badge-warning"><%= link_to "edit", edit_blog_path(blog.id),data: { confirm: 'Are you sure?' } %></span></td>
    <td><span class="badge badge-pill badge-danger"><%= link_to 'Destroy',blog_path(blog.id), method: :delete, data: { confirm:'Are you sure?'} %></span></td>
</tr>
  <% end %>
</table>
<br>
<span class="badge badge-pill badge-primary"><%= link_to "New post", new_blog_path %></span></td>
